@using Dalmatian.Data.Models.Enum
@model Dalmatian.Web.ViewModels.BirthCertificate.BirthCertificateEditModel

@{
    ViewData["Title"] = "Edit";

    var persons = Model.Persons.Select(x => new SelectListItem(x.Firstname, x.Id.ToString()));
    var kennels = Model.Kennels.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var confirmationOfMatings = Model.ConfirmationOfMatings.Select(x => new SelectListItem(x.RegistrationNumber, x.Id.ToString()));
}

<div class="container">
    <h1>Edit Birth Certificate</h1>
    <form asp-action="Edit" class="alert alert-primary">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-2">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-2">
                <label asp-for="ConfirmationOfMatingId" class="control-label"></label>
                <select asp-for="ConfirmationOfMatingId" asp-items="confirmationOfMatings" class="form-control">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="ConfirmationOfMatingId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-2">
                <label asp-for="LetterOfLitter" class="control-label"></label>
                <select asp-for="LetterOfLitter" asp-items="@Html.GetEnumSelectList<LetterOfLitter>()" class="form-control">
                    <option value="LetterOfLitter">--Select--</option>
                </select>
                <span asp-validation-for="LetterOfLitter" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-2">
                <label asp-for="NumberOfPuppies" class="control-label"></label>
                <input asp-for="NumberOfPuppies" class="form-control" />
                <span asp-validation-for="NumberOfPuppies" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-2">
                <label asp-for="NumberOfMales" class="control-label"></label>
                <input asp-for="NumberOfMales" class="form-control" />
                <span asp-validation-for="NumberOfMales" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-2">
                <label asp-for="NumberOfFemales" class="control-label"></label>
                <input asp-for="NumberOfFemales" class="form-control" />
                <span asp-validation-for="NumberOfFemales" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" asp-items="persons" class="form-control">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-2">
                <label asp-for="KennelId" class="control-label"></label>
                <select asp-for="KennelId" asp-items="kennels" class="form-control">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="KennelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationNumber" class="control-label"></label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmationOfMatingId" class="control-label"></label>
                    <input asp-for="ConfirmationOfMatingId" class="form-control" />
                    <span asp-validation-for="ConfirmationOfMatingId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfPuppies" class="control-label"></label>
                    <input asp-for="NumberOfPuppies" class="form-control" />
                    <span asp-validation-for="NumberOfPuppies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfMales" class="control-label"></label>
                    <input asp-for="NumberOfMales" class="form-control" />
                    <span asp-validation-for="NumberOfMales" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfFemales" class="control-label"></label>
                    <input asp-for="NumberOfFemales" class="form-control" />
                    <span asp-validation-for="NumberOfFemales" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonId" class="control-label"></label>
                    <input asp-for="PersonId" class="form-control" />
                    <span asp-validation-for="PersonId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KennelId" class="control-label"></label>
                    <input asp-for="KennelId" class="form-control" />
                    <span asp-validation-for="KennelId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LetterOfLitter" class="control-label"></label>
                    <input asp-for="LetterOfLitter" class="form-control" />
                    <span asp-validation-for="LetterOfLitter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
