@using Dalmatian.Common
@using Dalmatian.Data.Models
@using Dalmatian.Web.ViewModels.Dogs
@model DogViewModel

@{
    this.ViewData["Title"] = Model.Id;
}

<div class="text-left">
    @*<h1 class="display-4">@Model.Id</h1>*@

</div>
<div class="container-fluid">

</div>