@using Dalmatian.Data.Models.Enum
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Dalmatian.Web.ViewModels.Dogs.DogCreateInputModel
@{
    this.ViewData["Title"] = "Add the Dog";
    var father = Model.Parents.Where(x => x.SexDog == SexDog.Male).Select(x => new SelectListItem(x.PedigreeName, x.Id.ToString()));
    var mother = Model.Parents.Where(x => x.SexDog == SexDog.Female).Select(x => new SelectListItem(x.PedigreeName, x.Id.ToString()));
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <form method="post" asp-action="CreateDog">
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="PedigreeName"> Dog name for Pedigree</label>
                <input asp-for="PedigreeName" class="form-control" />
                <span asp-validation-for="PedigreeName" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label for="Breed">Breed</label>
                <select asp-for="Breed" asp-items="@Html.GetEnumSelectList<Breed>()" class="form-control"></select>
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label for="SexDog">SexDog</label>
                <select asp-for="SexDog" asp-items="@Html.GetEnumSelectList<SexDog>()" class="form-control">
                    <option value="Select">Select</option>
                </select>
                <span asp-validation-for="SexDog" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label for="Color">Color</label>
                <select asp-for="Color" asp-items="@Html.GetEnumSelectList<Color>()" class="form-control">
                    <option value="Select">Select</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label for="ImagesUrl">Add photo</label>
                <input asp-for="ImagesUrl" class="form-control" />
                <span asp-validation-for="ImagesUrl"></span>
            </div>
            <div class="col-md-5">
                <label for="FatherDogId">Father</label>
                <select asp-for="FatherDogId" asp-items="father" class="form-control"></select>
                <span asp-validation-for="FatherDogId"></span>
            </div>

            <div class="col-md-5">
                <label for="MotherDogId">Mother</label>
                <select asp-for="MotherDogId" asp-items="mother" class="form-control"></select>
                <span asp-validation-for="MotherDogId"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="DateOfBirth">Date of birth</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth"></span>
            </div>

            <div class="col-md-3">
                <label for="DateOfDeath">Date of death</label>
                <input asp-for="DateOfDeath" class="form-control" />
                <span asp-validation-for="DateOfDeath"></span>
            </div>

            <div class="col-md-3">
                <label for="OwnerName">Owner</label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName"></span>
            </div>
            <div class="col-md-3">
                <label for="BreederName">Breeder</label>
                <input asp-for="BreederName" class="form-control" />
                <span asp-validation-for="BreederName"></span>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
<script type="text/javascript">
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script> 